@media(max-width: 300000px) {
.banner-show2 {
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  text-align: center;
  position: relative;
  // margin-top: -100px;
}

.card-event-show2 {
  display: inline-grid;

}
.event-choice2 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
    height: 190px;
    // display: -webkit-box;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    // position: relative;
    margin-bottom: 30px;
    margin-left: 30px;
}

.card-infos-show2 {
  border-radius: 5px;
  width: 100%;
  height: 100px;
  padding: 10px 50px;
  p {
    align-items: baseline;
    color: #5c676d;
    letter-spacing: 3px;
    font-family: $font;
    font-size: 30px;
    font-weight: 100;
  }
  h6 {
    font-family: $font;
    font-size: 14px;
    color: #a7a7a7;
    font-weight: 400;
  }
  br {
    margin-top: 5px;
  }
  h4 {
      font-family: $font;
      font-weight: bold;
      color: black;
    }
}

.img-card-show2 {
  margin-left: 25px;
    height: 100px;
    width: 150px;
    object-fit: cover;
    border-radius: 5px;
}
}


@media(max-width: 1000px) {


.banner-show2 {
  background-size: cover;
  background-position: center;
  padding-top: 3px;
  text-align: center;
  position: relative;
  // margin-top: -100px;
}

.card-event-show2 {
  display: inline-grid;

}
.event-choice2 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
    height: 140px;
    // display: -webkit-box;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    // position: relative;
    margin-bottom: 30px;
    margin-left: 30px;
    p {
      // font-size: 10px;
      visibility: hidden;
      display: none;

  }
    h6 {
      font-family: $font;
      // visibility: hidden;
      font-size: 10px;
      margin-left: 5px;
      margin-right: 5px;
      font-weight: 400;
  }
    h4 {
      font-family: $font;
      margin-left: 10px;
      font-weight: bold;
      margin-right: 5px;
      font-size: 15px;
      color: black;
    }
}

.card-infos-show2 {
  border-radius: 5px;
  width: 100%;
  height: 100px;
  padding: 10px 50px;
  p {
    visibility: hidden;
    align-items: baseline;
    color: #5c676d;
    letter-spacing: 3px;
    font-family: $font;
    font-size: 30px;
    font-weight: 500;
  }
  h6 {
    font-family: $font;
    font-size: 14px;
    color: #a7a7a7;
    font-weight: 400;
  }
  br {
    margin-top: 5px;
  }
}

.img-card-show2 {
  margin-left: 8px;
    height: 100px;
    width: 50px;
    object-fit: cover;
    border-radius: 5px;
}

}
